<div class="top">
  <h1>一緒に筋トレしよう！</h1>
    <h2></h2>
       <a class="btn btn-default" href="users/sign_up" role="button">新規登録</a>
       <a class="btn btn-default" href="users/sign_in" role="button">ログイン</a>
       <li><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-text="一緒に筋トレしよう！ #合トレ #ゴウトレ！ #workout #筋トレ"　data-lang="ja" data-show-count="false">Tweet</a></li>
       <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
       <li><div class="fb-like" data-href="https://gotore.herokuapp.com/" data-layout="button" data-action="like" data-size="small" data-show-faces="true" data-share="false"></div></li>
       <li><div class="line-it-button" data-lang="ja" data-type="share-a" data-url="https://gotore.herokuapp.com/" style="display: none;"></div></li>
 <script src="https://d.line-scdn.net/r/web/social-plugin/js/thirdparty/loader.min.js" async="async" defer="defer"></script>

</div>


